*{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
.container-fluid{
    height: 100vh;
}
.time-capsule{
    width: 80px;
    height: 80px;
}
.board-section{
    width: 100%;
}
.board-wrapper{
    padding: 300px;
    height: 100%;
}
.board-box{
    min-width: 50%;
}
.board-tile{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.board-tile:hover{
    cursor: pointer;
}
.aligned-tiles{
    color: aqua;
}
.alert-modal-container{
    height: 50vh;
}

@media (min-width: 300px) and (max-width: 768px) {
    .p1-profile,.p2-profile{
        height: 60px;
    }
    .time-capsule{
        width: 50px;
        height: 50px;
    }
    footer{
        position: absolute;
        bottom: 20px;
    }
  }
